fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-openai
sentence-transformers
langchain-huggingface
langchain-text-splitters
faiss-cpu
pypdf
gtts
SpeechRecognition
pydub
python-dotenv
aiofiles
